<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="Styles/StyleSheet.css" rel="stylesheet" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/script.js"></script>
    <title>Angular</title>
</head>
<body>
    <div ng-controller="myController">
        Rows to limit: <input type="number" step="1" min="0" max="5" ng-model="rowlimit"/>
        <br />
        <br />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DateOfBirth</th>
                    <th>Gender</th>
                    <th>Salary (number)</th>
                    <th>Salary (currency)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | limitTo:rowlimit">
                    <td>{{employee.name | uppercase}}</td>
                    <td>{{employee.dateofbirth |date:"dd/MM/yyyy"}}</td>
                    <td>{{employee.gender | lowercase}}</td>
                    <td>{{employee.salary | number:2}}</td>
                    <td>{{employee.salary |currency:"₹":1}}</td>
                </tr>
            </tbody>
        </table>      
    </div>
</body>
</html>